<mat-card class="card">
    <mat-card-content>
        <h1>Select Address</h1>
        <form class="form" [formGroup]="address" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Country</mat-label>
                <mat-select name="countryControl" formControlName="country" (selectionChange)="selectCountry($event)" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let country of countries | async" [value]="country">
                        {{country.title}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="address.controls.country.hasError('required')">Please choose a country</mat-error>
                <mat-hint>{{address.controls.country.value?.sound}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Province</mat-label>
                <mat-select name="provinceControl" formControlName="province" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let province of provinces | async" [value]="province">
                        {{province}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="address.controls.province.hasError('required')">Please choose a province</mat-error>
                <mat-hint>{{address.controls.province.value?.sound}}</mat-hint>
            </mat-form-field>

            <button class="submit" mat-raised-button color="primary" type="submit" [disabled]="!address.valid">Save</button>
        </form>
    </mat-card-content>
</mat-card>
