root=true
# Editor configuration, see https://editorconfig.org

[*]
charset=utf-8
indent_style=space
indent_size=4
insert_final_newline=true
trim_trailing_whitespace=true

# ReSharper properties
resharper_js_indent_size=4
resharper_js_tab_width=4
resharper_js_use_indent_from_vs=true

[*.md]
max_line_length=off
trim_trailing_whitespace=false

[*.{js,json,jsx,resjson,ts,tsx}]
indent_style=space
indent_size=4
tab_width=4
